.body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.calc {
  display: flex;
  width: 600px;
  background-color: #e0e0e0;
  flex-direction: column;
  align-items: center;
  height: 800px;
  justify-content: space-evenly;
  border-radius: 50px;
  box-shadow: 7px 7px 14px #828282, -7px -7px 14px #ffffff;
}

.row {
  display: flex;
  width: 560px;
  height: 100px;
  align-items: center;
  justify-content: space-around;
}
.btn {
  display: flex;
  background-color: #333;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 38px;
  cursor: pointer;
  background: #e0e0e0;
  box-shadow: 5px 5px 11px #aaaaaa, -5px -5px 11px #ffffff;
}

.btn0 {
  flex-basis: 240px;
}

.calc-screen {
  display: flex;
  background-color: #98cbf0;
  box-shadow: inset 5px 5px 7px #949496, inset -5px -5px 7px #ffffff;
  color: #333;
  font-size: 32px;
  width: 560px;
  flex-direction: row-reverse;
  border-radius: 40px;
}

.calc-result {
  padding-right: 40px;
  font-size: 35px;
}
.btn:hover {
  opacity: 0.8;
  background-color: #333;
  color: white;
}
